<!-- お気に入り登録タブ -->
<turbo-stream action="replace" target="tab-content">
  <div class="tab-pane fade" id="bookmark-tab-pane">
    <!-- プロフィールの表示 -->
    <h1 class='text-center sticky-top mb-3 z-1' style='height: 60px; background-color: white;'><%= t('.bookmark_title') %><i class="bi bi-emoji-smile"></i></h1>
    <% if items.present? %>
      <div class="row row-cols-lg-4 row-cols-md-3 row-cols-2 g-4 overflow-auto">
        <%= render partial: 'items/item', collection: items %>
      </div>
    <% else %>
      <p class='text-center'><%= t('.no_bookmark_items_message') %></p>
    <% end %>
  </div>
</turbo-stream>