<footer>
  <div class='container-lg d-flex justify-content-end footer-link'>
    <%= link_to 'お問い合わせ', '#', class: 'footer-item' %>
    <%= link_to '利用規約', '#', class: 'footer-item' %>
    <%= link_to 'プライバシーポリシー', '#', class: 'footer-item' %>
  </div>
  <div class='copyliter'>
    <p class='text-center'>&copy; Gift Compass</p>
  </div>
</footer>