<footer class='footer-bottom' style='background-color: #0cc0df;'>
  <div class='container d-flex justify-content-end'>
    <%= link_to 'お問い合わせ', '#', class: 'me-3 text-decoration-none' %>
    <%= link_to '利用規約', '#', class: 'me-3 text-decoration-none' %>
    <%= link_to 'プライバシーポリシー', '#', class: 'text-decoration-none' %>
  </div>
  <div class='copyliter'>
    <p class='text-center'>&copy; Gift Compass</p>
  </div>
</footer>