<div class='container-lg image'>
  <div class='top-inner-text'>
    <h1>プレゼント選びに</br>
    迷ったことはありませんか??</h1>
    <h5>みんなの欲しいものリストを覗いてみて</br>
    あの人に渡すプレゼントの参考にしてみませんか</H5>
  </div>
  <button class='btn btn-primary'><i class="bi bi-search-heart"></i> 探しに行く</button>
</div>

<div class='container-lg top-item'>
  <h1 class="text-center py-3"><i class="bi bi-magic"></i> 使いかた</h1>

  <div class='use'>
  
</div>