<!-- トップ画像の部分 -->
<div class='container-lg image'>
  <div class='top-inner-text'>
    <h1>プレゼント選びに</br>
    迷ったことはありませんか??</h1>
    <h5>みんなの欲しいものリストを覗いてみて</br>
    あの人に渡すプレゼントの参考にしてみませんか</H5>
  </div>
  <button class='btn btn-primary'><i class="bi bi-search-heart"></i> 探しに行く</button>
</div>

<!-- 使い方の部分 -->
<div class='container-sm top-item'>
  <h1 class="text-center py-3"><i class="bi bi-magic"></i> 使いかた</h1>

  <div class='use row'>
    <!-- ここで左の空白部分を作る -->
    <div class="col-md-1 col-lg-1"></div>
    <div class="card col-sm-12 col-md-5 col-lg-5 border-info mb-3">
      <%= image_tag 'hoshii.png', size: '300x300', class: 'mx-auto d-block' %>
      <div class="card-body">
        <h2 class="card-title text-center">欲しいものをまとめたい人</h2>
        <p class="card-text text-center">自分の欲しいものを登録できます。</br>
        商品名や値段など忘れないように登録しましょう。</br>
        会員登録後に使える機能です。</br>
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card col-sm-12 col-md-5 col-lg-5 border-info mb-3">
      <%= image_tag 'sagasu.png', size: '300x300', class: 'mx-auto d-block' %>
      <div class="card-body">
        <h2 class="card-title text-center">プレゼント探してる人</h2>
        <p class="card-text text-center">みんなの欲しいものリストを見ることができます。</br>
        会員登録後は、予算や女性・男性向けなど</br>
        条件をつけて検索ができます。</p>

        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <!-- ここで右の空白部分を作る -->
    <div class="col-md-1 col-lg-1"></div>
  </div>
</div>