<div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-4">
  <div class="col">
    <div class="card h-100 border-danger">
      <%= image_tag 'item.jpg', size: '200x200', class: 'mx-auto d-block' %>
      <div class="card-body">
        <h5 class="card-title">アイテム名あああああああああ</h5>
        <p class="card-text">タグ入れる</p>
      </div>
    </div>
  </div>
</div>