<div class="col">
  <div class="card h-100 border-info">
    <%= image_tag 'item.jpg', size: '200x200', class: 'mx-auto d-block' %>
    <div class="card-body">
      <h5 class="card-title"><%= item.name %></h5>
      <p class="card-text">タグ入れる</p>
    </div>
  </div>
</div>
