<div class="col item">
  <div class="card h-100 border-info">
    <%= image_tag item.item_image.url, class: 'mt-1 mx-1 d-block img-fluid img-fixed-height' %>
    <div class="card-body">
      <h5 class="card-title text-center"><%= link_to item.item_name, item_path(item) %></h5>
    </div>
    <div class="card-footer">
      <%= render partial: 'tag', collection: item.tags %>
    </div>
  </div>
</div>
