<div class="col">
  <div class="card h-100 border-info">
    <%= image_tag 'item.jpg', class: 'mt-1 mx-1 d-block img-fluid' %>
    <div class="card-body">
      <h5 class="card-title text-center"><%= link_to item.item_name, item_path(item) %></h5>
      <p class="card-text">タグ入れる</p>
    </div>
  </div>
</div>
