<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1 class='text-center my-3'>欲しいもの編集 <i class="bi bi-pencil-fill"></i></h1>
      <%= render 'form', {item: @item, tags: @tags} %>
    </div>
  </div>
</div>
