<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-2 g-4">
      <% if @items.present? %>
        <%= render @items %>
      <% else %>
        <p>まだ欲しいものたちが登録されてません</p>
      <% end %>
    </div>
  </div>
</div>