<% content_for(:title, t('.title')) %>
<div class="container-fluid">
  <div class="row justify-content-center">
    <% if @items.present? %>
      <div class="row row-cols-lg-5 row-cols-md-4 row-cols-2 g-4">
        <%= render @items %>
      </div>
    <% else %>
      <p class='text-center mt-3'>まだ欲しいものたちが登録されていません！</p>
    <% end %>
  </div>
</div>