<% @items.each do |item| %>
  <li class="list-group-item list-group-item-action active" aria-current="true" role="option" data-autocomplete-value="<%= item.id %>" data-autocomplete-label="<%= item.item_name %>">
    <%= item.item_name %>
  </li>
<% end %>