<% @items.each do |item| %>
  <li class="list-group-item list-group-item-action list-group-item-light small" role="option" data-autocomplete-value="<%= item.item_name %>" data-autocomplete-label="<%= item.item_name %>">
    <%= item.item_name %>
  </li>
<% end %>