<% @tags.each do |tag| %>
  <li class="ms-2 my-2 small" role="option" data-autocomplete-value="<%= tag.tag_name %>" data-autocomplete-label="<%= tag.tag_name %>">
    <%= tag.tag_name %>
  </li>
<% end %>