<% set_meta_tags title: t('.title') %>
<h1 class='text-center my-3'><%= t('.title') %><i class="bi bi-pencil-fill"></i></h1>
<div class="container text-center my-5">
  <div class="row justify-content-around">
    <div class="col-xl-3 mb-3">
      <button class="situation-btn birthday">誕生日</button>
    </div>
    <div class="col-xl-3 mb-3">
      <button class="situation-btn surprise">ふとした日のプレゼント</button>
    </div>
    <div class="col-xl-3 mb-3">
      <button class="situation-btn xmas">クリスマス</button>
    </div>
    <div class="col-xl-3 mb-3">
      <button class="situation-btn valentine">バレンタイン</button>
    </div>
    <!-- 隙間を作る -->
    <div class="my-3"></div>
    <div class="col-xl-4 mb-3">
      <button class="situation-btn whiteday">ホワイトデー</button>
    </div>
    <div class="col-xl-4 mb-3">
      <button class="situation-btn mother">母の日</button>
    </div>
    <div class="col-xl-4 mb-3">
      <button class="situation-btn father">父の日</button>
    </div>
  </>
</div>